.comment{
    border-color:  #a31418; 
     font-size: small; 
    width: 5rem;
} 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .supr{
    margin-left: 200px;
    
    color: #a31418; 
  
  } 
  .up{
    color: #a31418;
    
  }
  .fichier{
    display: flex;
justify-content: space-around;

  } 
  .play{
    padding-right: 15cm;
  }
  .apro{
    display: flex;
    justify-content: space-around;
    background-color: #cb6d6d;
    }
    .titr{
      padding-right: 25cm;

       }
       .content{
       text-align: start;
       background-color: #cb6d6d;
      
       }
       .mod{
        padding-right: 10cm;
       
        
       }
       .eff{
       
        padding-right: 30cm;
        
       } 
       .modifier{
        display: flex;
       
       } 
      .temps{
        background-color: #cb6d6d;
      }
     .note{
      background-color: #cb6d6d;
      }
      .ici{
        background-color: #cb6d6d;
      }
      
      
       

       
